<%- include("partials/header") %>
<%- include('navbar') %>

<%- include('info') %>

<div class="px-12">
    <%- include('search.ejs') %>
    <%- include('books.ejs') %>
</div>

<%- include('add.ejs') %>


<script src="/script.js"></script>
</body>
</html>